<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>


    <!-- page -->

    {% if title == null %}
      {% assign title = "Same Page Films" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/logo_white_no_text.svg">


    <!-- TODO: preview -->

    <!-- assets -->
    <link rel="stylesheet" href="/site.css">
    <script type="module" src="/site.js"></script>

    {% if path == "landing" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    {% comment %} 
    <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
    <script>
      var vConsole = new window.VConsole();
    </script> 
    {% endcomment %}


  </head>
  <body>
    {{ content }}

  </body>

</html>