<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>


    <!-- page -->
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- TODO: preview -->

    <!-- assets -->
    <link rel="stylesheet" href="/site.css">
    <script type="module" src="/site.js"></script>

  </head>
  <body>
    <!-- Header -->
    <nav id="nav" class="Nav">
            <div class="Nav-background"></div>
            <div class="Nav-links">
              <a class="NavLink NavLink--home" href="/">Home</a>
              <a class="NavLink NavLink--programs" href="/programs">Programs</a>
              <a class="NavLink NavLink--donate" href="/donate">Donate</a>
            </div>
    </nav>
    
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>

    <!-- Footer -->

  </body>
</html>