---
layout: base
---
<!-- Header -->
<nav id="nav" class="nav">
  <div class="nav-logo-container">
    <a href="/selected_work">
      <img class="nav-logo" src="/assets/img/logo.svg" />
    </a>
  </div>
  <div class="nav-links">
    <a class="nav-link" 
       href="/selected_work"
       data-content="our work">our work</a>
    <a class="nav-link" 
       href="/about"
       data-content="our people">our people</a>
  </div>
</nav>

{{ content }}


<!-- Footer -->
<footer class="footer">
  <div class="footer-email">info@samepagefilms.co</div>
  <a href="https://www.instagram.com/samepagefilms.co/">
    <img class="footer-insta-icon"
         src="/assets/img/insta-icon.svg"/>
  </a>
</footer>