<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>


    <!-- page -->
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">


    <!-- TODO: preview -->

    <!-- assets -->
    <link rel="stylesheet" href="/site.css">
    <script type="module" src="/site.js"></script>

  </head>
  <body>
    <!-- Header -->
    <nav id="nav" class="nav">
            <div class="nav-logo">LOGO</div>
            <div class="nav-links">
              <a href="/selected_work">our work </a>
              <a href="/about">our people</a>
            </div>
    </nav>
    
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>
    <div> content</div>

    <!-- Footer -->

  </body>
</html>