---
layout: page
title: OUR WORK
path: about
---

<div class="about">
  <div class="about-front-page">
    <div class="about-front-page-text">
      <div class="about-front-page-title">
        our story
      </div>
      <div class="about-front-page-body">
        Aliquam id efficitur augue, quis fringilla augue. Donec a sem et nulla  aliquet rhoncus. Pellentesque dui nisi, tempor in purus eget, viverra  sagittis mauris. Integer nec dolor augue. 
        Nullam urna turpis, varius  finibus enim sit amet, malesuada malesuada nulla. Suspendisse congue,  justo sit amet mattis maximus, mauris mauris tempor ipsum, sed cursus  sapien augue eget ligula. Etiam vel condimentum sapien, vitae mattis. 
      </div>
    </div>
    <img class="about-front-page-image" src="/assets/img/alex_temi_silhouette.jpg" />
  </div>
</div>