---
layout: page
title: Same Page Productions
path: home
eleventyImport:
  collections: ["portfolio"]
---

<div class="selected_work">
  {%- for item in collections.portfolio -%}
    <div>
      <a href="/work/{{item.fileSlug}}">{{ item.data.title }}</a>
    </div>
  {%- endfor -%}
</div>