

<div class="landing">


    <a href="/selected_work">
       <img class="landing-logo" src="/assets/img/logo_white.svg" />
       <div class="landing-logo-hover">
            <img class="landing-logo-hover-logomark" src="/assets/img/logo_white_no_text.svg" />
            <div class="landing-logo-hover-text-grid">
            <div class="landing-logo-hover-text">
                small footprint
                </div>
            <div class="landing-logo-hover-text">
                big impact 
                </div>
            </div>
       </div>
    </a>


</div>
