---
layout: page
title: Same Page Productions
path: selected_work
eleventyImport:
  collections: ["portfolio"]
---

<div class="selected-work">
  {%- for work_item in collections.portfolio -%}

    <div class="selected-work-thumbnail">
      <a href="/work/{{work_item.fileSlug}}">
        <img class="selected-work-thumbnail-image"
             src="{{ work_item.data.thumbnail }}" />
      </a>
        <div class="selected-work-thumbnail-title">
          {{ work_item.data.title }}
        </div>
    </div>
  {%- endfor -%}
</div>