---
layout: page
title: Same Page Productions
path: selected_work
eleventyImport:
  collections: ["portfolio"]
---


<div class="selected-work">
  {%- for item in portfolio_order.order -%}

    {% assign work_item = collections.portfolio | getById: item.id %}

    {% if work_item.data.hidden %}
      {% continue %}
    {% endif %}

    <a class="selected-work-thumbnail" href="/work/{{work_item.fileSlug}}">
        <div class="selected-work-thumbnail-overlay-letterbox">
        </div>
        <div class="selected-work-thumbnail-overlay">
            {{ work_item.data.my_title }}
        </div>
        <img class="selected-work-thumbnail-image"
              src="{{ work_item.data.thumbnail }}" />


  {%- endfor -%}
</div>