@import "_includes/fonts.css";
@import "_includes/reset.css";


/* Colors */
$cream: #FFF9EF;
$white: #FFFFFF;
$black: #000000;
$green: #385A4E;

/* Layout */
$pageMargin: 2vw;
/* $pageMargin: 85px; */


body {
    background-color: $green;
}

/* ~~ Landing ~~ */

.landing {
    background-color: $green;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-logo {
    height: 100px;
    position: absolute;

    translate: -50% -50%;
}

/* .landing-logo:hover {
    display: none;
}

.landing-logo-hover {
    display: none;
    height: 95px;
}

.landing-logo-hover:hover {
    display: flex;
    height: 95px;
}

.landing-logo-hover-logomark {
    margin-right: 10px;
}

.landing-logo-hover-text-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.landing-logo-hover-text {
    font-family: $fontSansDisplay;
    font-size: 69px;

    color: $white;
    text-decoration: none;

    margin: 0px;
    line-height: 35px;
} */


/* ~~ Header ~~ */

.nav {
    background-color: $cream;

    padding-right: $pageMargin;
    padding-left: $pageMargin;
    padding-top: 3vh;
    padding-bottom: 3vh;

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.nav-logo-container {
    /* trick: have the logo elm push everything off to the right */
    flex: 1;
}

.nav-logo {
    height: 100px;
    justify-self: flex-start;
}

.nav-links {
    justify-self: flex-end;

}

.nav-link {
    position: relative;
    font-family: $fontSansDisplay;
    font-size: 28px;
    color: $black;
    text-decoration: none;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 3vw;
    white-space: nowrap;

    &:hover, &:active {
        color: $green;
		&:before {
			position: absolute;
			content: attr(data-content);
			transform: translate(-50%,-50%);
			z-index: -1;

			top: 49.5%;
			left: 49.5%;
			color: $green;
			animation: distort1 300ms linear infinite; 
		}
    }
}
@keyframes distort1 {
    0%    { top: 50%; left: 49%; }
    12.5% { top: 50%; left: 50%; }
    25%   { top: 50%; left: 51%; }
    37.5% { top: 50%; left: 51%; }
    50%   { top: 50%; left: 51%; }
    62.5% { top: 50%; left: 50%; }
    75%   { top: 50%; left: 49%; }
    87.5% { top: 50%; left: 49%; }
    100%  { top: 50%; left: 49%; }
}


.nav-link:first-child {
    margin-left: 0px;
}

/* .nav-link:hover {
    color: $green;
} */

.nav-link > a {

    color: black;
}


/* ~~ Footer~~ */

.footer {
    padding-right: $pageMargin;
    padding-left: $pageMargin;
    padding-top: 2vh;
    padding-bottom: 2vh;

    background-color: $green;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer-email {
    font-family: $fontSansDisplay;
    font-size: 24px;

    flex: 1;
    color: $white;
}

.footer-insta-icon {
    height: 32px;

}


/* ~~ Selected Work ~~ */

.selected-work {
    background-color: $cream;

    /* margin-right: $pageMargin;
    margin-left: $pageMargin; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 3px; */
}

  

.selected-work-thumbnail {
    position: relative;
}

.selected-work-thumbnail-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    font-family: $fontSansDisplay;
    font-size: 32px;
    text-transform: lowercase;
    color: $cream;
    background: rgba(56, 90, 78, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.selected-work-thumbnail-overlay-letterbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background: $black;
}
.selected-work-thumbnail-overlay-letterbox:hover {
    bottom: 85%;

}

.selected-work-thumbnail-overlay:hover {
    opacity: 1;

    transition: opacity 0.5s ease;

}

.selected-work-thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selected-work-thumbnail-image:hover {
    filter: blur(5px);
}

.selected-work-thumbnail-title {
    font-family: $fontSansBody;
    font-size: 36px;
    text-transform: lowercase;

    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* ~~ portfolio Item ~~ */

.portfolio-item {
    background-color: $cream;

    display: grid;
    row-gap: 10px;

}
.portfolio-item-video-details {
    display: grid;
    grid-template-columns: 1fr 300px;

    margin: 0px 10px;
}

.portfolio-item-details {
    margin-left: 1vw;
    margin-right: 1vw;

    /* display: flex;
    justify-content: space-between; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 30px;
}

.portfolio-item-details-text {

}

.portfolio-item-title {
    font-family: $fontSansDisplay;
    font-size: 24px;
    text-transform: lowercase;

    margin-bottom: 24px;

}

.portfolio-item-description {
    font-family: $fontSansBody;
    font-size: 16px;
}

.portfolio-item-credits {
    border: 2px solid black;
    padding: 10px 10px;

    line-height: 24px;

    flex-shrink: 0;

}

.portfolio-item-credits-entry {
}

.portfolio-item-credits-name {
    font-family: $fontSansCredit;
    font-size: 16px;

    text-transform: uppercase;

    margin-right: 5px;
}

.portfolio-item-credits-role {
    font-family: serif;
    font-size: 12px;
    font-style: italic;

}

.portfolio-item-still-grid {
    margin: 0vh 1vh 1vh 1vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1vh;

}

.portfolio-item-still {
    width: 100%;
}

/* ~~ About ~~ */

.about {
    background-color: $green;
    color: $cream;
}

.about-front-page {

    display: grid;
    grid-template-columns: 1fr 50%;

    height: 70vh;

}

.about-front-page-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 2rem 1rem;

}
.about-front-page-title {
    font-family: $fontSansDisplay;
    font-size: 64px;

    margin-bottom: 1.5rem;

}

.about-front-page-body {
    font-family: $fontSansBody;
    font-size: 24px;
}

.about-front-page-image {
    height: 100%;
    object-fit: cover;
}

.about-pile {
    display: flex;
    flex-wrap: wrap;

}

.item {
}


.about-pile {
    position: relative;
}

.about-pile-transformable {
    --rotation: 0deg;
    --scale: 1;
    --translateX: 0px;
    --translateY: 0px;
    transform: rotate(var(--rotation)) 
               scale(var(--scale)) 
               translate(var(--translateX), var(--translateY));
}

.about-pile-image-container {
    height: 15rem;
    flex-grow: 1;
}

.about-pile-image-foreground {
    position: absolute;

    top: var(--top);
    left: var(--left);

    --top: 50%;
    --left: 50%;

    translate: -50% -50%;


}


.about-pile-image {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.about-services {
}

.about-services-title {
    font-family: $fontSansDisplay;
    font-size: 48px;

    margin-right: $pageMargin;
    margin-left: $pageMargin;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.about-services-body {
    background-color: $cream;
    color: $black;
    
    padding: 2rem $pageMargin;
}

.about-service {
    margin-bottom: 2rem;
}

.about-service:last-child {
    margin-bottom: 0px;
}

.about-service-title {
    font-family: $fontSansDisplay;
    font-size: 20px;
    
    margin-bottom: 10px;
}

.about-service-description {
    font-family: $fontSansBody;
    font-size: 16px;
}

.about-call {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0rem;
}

.about-call-text {
    font-family: $fontSansDisplay;
    font-size: 32px;

    margin-right: 3rem;
}

.about-call-button {
    background-color: $green;
    color: $cream;

    border: $cream solid 2px;

    font-family: $fontSansDisplay;
    font-size: 32px;

    padding: .4rem .9rem;
}
    
.about-call-button:hover, .about-call-button:active {
    background-color: $cream;
    color: $green;
}

.draggable {
    position: absolute;

    box-shadow: 0 3px 20px rgb(0 0 0 / 0.4);

    /* pointer-events: all; */
}

/* need this to make draggable work with my code */
.draggable * {
  pointer-events: none;
}

.draggable-image {
    max-width: 15rem;

}

@media screen and (max-width: 900px) {

    .selected-work {
        /* margin-right: $pageMargin;
        margin-left: $pageMargin; */

        display: grid;
        grid-template-columns: 1fr;
        /* column-gap: 3px; */
    }

    .portfolio-item-video-details {
        display: block;
        margin: 0px;
    }

    .portfolio-item-details {

        flex-direction: row-reverse;
        gap: 20px;

        margin: 1vh 2vw;
        /* margin-bottom: 1vh;
        margin-top: 1vh; */
    }


    .portfolio-item-still-grid {
        display: grid;
        height: 70vh;

    }

    .about-front-page {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-front-page-image {
    }


    .about-front-page-title {
        font-size: 32px;
    }

    .about-front-page-body {
        font-family: $fontSansBody;
        font-size: 16px;
    }

    .about-services-title {
        font-size: 32px;

    }

    .about-service-title {
        font-size: 16px;
    }

    .about-service-description {
        font-family: $fontSansBody;
        font-size: 16px;
    }

    .about-call-text {
        font-size: 20px;
    }

    .about-call-button {
        font-size: 20px;
    }

}

@media screen and (max-width: 760px) {
    .nav-logo {
        height: 50px;
    }

    .nav-link {
        font-size: 24px;
        padding: 0px;
    }

    .nav-links {

        display: flex;
        flex-direction: column;
        align-items: last baseline;
        gap: .1em;

    }

    .footer-email {
        font-size: 16px;
    }

    .footer-insta-icon {
        height: 24px;

    }

}
