@import "_includes/fonts.css";
@import "_includes/reset.css";


$cream: #FFF1DA;

body {
    font-family: $fontBrand;

    background-color: $cream;





}


.nav {
    height: 183px;
    margin-right: 85px;
    margin-left: 85px;

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.nav-logo-container {
    /* trick have the logo elm push everything off to the right */
    flex: 1;

}

.nav-logo {
    height: 100px;
    justify-self: flex-start;
}

.nav-links{
    justify-self: flex-end;

}

.selected_work {
    margin-right: 85px;
    margin-left: 85px;

}