@import "_includes/fonts.css";
@import "_includes/reset.css";


/* Colors */
$cream: #FFF1DA;
$black: #000000;

body {
    background-color: $cream;
}


/* ~~ Header ~~ */

.nav {
    height: 183px;
    margin-right: 85px;
    margin-left: 85px;
    margin-bottom: 48px;

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.nav-logo-container {
    /* trick: have the logo elm push everything off to the right */
    flex: 1;
}

.nav-logo {
    height: 100px;
    justify-self: flex-start;
}

.nav-links {
    justify-self: flex-end;

}

.nav-link {
    font-family: $fontSans;
    font-size: 36px;
    color: $black;
    text-decoration: none;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 43px;
}

.nav-link:first-child {
    margin-left: 0px;
}

.nav-link > a {

    color: black;
}


/* ~~ Footer~~ */

.footer {
    height: 183px;
    margin-right: 85px;
    margin-left: 85px;
    margin-bottom: 48px;

    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.footer-email {
    font-family: $fontTypewriter;
    font-size: 36px;

    flex: 1;
}

.footer-insta-icon {

}


/* ~~ Selected Work ~~ */

.selected-work {
    margin-right: 85px;
    margin-left: 85px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.selected-work-thumbnail {


}

.selected-work-thumbnail-image {
    width: 100%;
}

.selected-work-thumbnail-title {
    font-family: $fontSans;
    font-size: 36px;

    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* ~~ portfolio Item ~~ */

.portfolio-item {
    margin-right: 85px;
    margin-left: 85px;

}

.portfolio-item-details {
    display: grid;
    grid-template-columns: 1fr 200px;
}

.portfolio-item-details-left {

}

.portfolio-item-credits {

    border: 2px solid black;
}

.portfolio-item-still-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.portfolio-item-still {
    width: 100%;
}
