<nav id="nav" class="Nav">
        <div class="Nav-background"></div>
        <div class="Nav-links">
          <a class="NavLink NavLink--home" href="/">Home</a>
          <a class="NavLink NavLink--programs" href="/programs">Programs</a>
          <a class="NavLink NavLink--donate" href="/donate">Donate</a>
        </div>
</nav>